.margen-carrusel {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.margen-titulo {
  margin-left: 50px;
}

.margen-footer {
  margin: 10px;
}

.margen-footer2 {
  margin-left: 20px;
  margin-right: 20px;
}


footer {
  margin-top: auto;
  justify-content: end;
  bottom: 0;
  width: auto;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}