.margen-carrusel {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.margen-titulo {
  margin-left: 50px;
}

.margen-footer {
  margin: 10px;
}

.margen-footer2 {
  margin-left: 20px;
  margin-right: 20px;
}

.index_disponible {
  color: green;
  font-weight: bolder;
}

.index_precio{
  color: blue;
  font-weight: 500;
}

.index_subscrito {
  color: red;
  font-weight: 500;
}

.index_stock {
  color: green;
  font-weight: bold;
}

.fondo {
  background-color: rgba(127, 157, 255, 0.207);
}

.align-center2 {
  display: flex;
  justify-content: center;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 100px; /* Altura del footer */
}
